mixin comments(com)
  .comments__card
    img.comments__logo(src= com.logo alt= com.logo)
    p.comments__text= com.desc
    span.comments__title= com.name
    span.comments__title--span= com.company
