.feedback.nav#feedback
  .container.justify-content-space-between
    .row.feedback__wrapper
      .col-lg
        h2.feedback__title ХОТИТЕ С НАМИ РАБОТАТЬ?
        p.feedback__text ОСТАВЬТЕ ЗАЯВКУ И МЫ СВЯЖЕМСЯ С ВАМИ!

      .col-lg-2.navbar-toggler.navbar-expand-md.navbar-toggleable-md.justify-content-flex-end.button__feedback
        button.btn.btn-light.feedback__button
          img.feedback__icon(src="/content/icon_send.svg" alt="logo")
          span.feedback__text ВАШ ЗАПРОС
