.partners {

  &__image {
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  @media (max-width: 640px) {

    &__image {
      margin: 5px 0;
    }
  }
}
