header.header
  nav.navbar
    .container
      .row
        .col-sm
          a.navbar-brand(href="#")
            img.header__logo(src="/content/logo.png" width="60" height="60" alt="logo")

      .row
        .col-sm
          button.js-toggleMenu.navbar-toggler.navbar-expand-md.navbar-toggleable-md.bg-orange.collapsed.button-menu(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" width="50" height="50")
            .burger-button
              .burger-icon
              .burger-icon
              .burger-icon
