.counter
  .container-fluid.counter__wrapper
    .row.text-center.justify-content-center
      .counter__first.col-6.col-sm-6.col-md-6.col-lg-3.counter__item
        h2.counter__score(data-start="0" data-end="26") 26
        h3.counter__title лет
        p.counter__text на рынке
      .counter__second.col-6.col-sm-6.col-md-6.col-lg-3.counter__item
        h2.counter__score(data-start="0" data-end="5000") 5000
        h3.counter__title кружек
        p.counter__text кофе
      .counter__third.col-6.col-sm-6.col-md-6.col-lg-3.counter__item
        h2.counter__score(data-start="0" data-end="2000") 2000 
        h3.counter__title проектов
        p.counter__text завершено
      .counter__fourth.col-6.col-sm-6.col-md-6.col-lg-3.counter__item
        h2.counter__score(data-start="0" data-end="1000") 1000
        h3.counter__title часов
        p.counter__text отработано
