footer.footer
  .container-fluid
    .container
      .row.justify-content-around
        .col-sm-6.col-lg-6.col-md-6.footer__text
          span © 2019 Строительная компания

        .col-sm-6.col-lg-6.col-md-6.footer__text.footer__text--right
          span Разработано лучшей студией
