.video-wrapper {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.video-background-holder {
  position: relative;
  background: linear-gradient(0deg, rgba(30, 31, 34, 0.9), rgba(36, 38, 51, 0.9)), #404149;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.banner {

  &__headline{
  font: 500 normal 64px/95px "Oswald", sans-serif;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @media (max-width:1024px) {
    font-size: 45px;
    line-height: 75px; 
    }

  @media (max-width:640px) {
    font-size: 30px;
    line-height: 50px;
    }
  }

  &__text {
    font: normal normal 18px/27px "Oswald", sans-serif;

    @media (max-width:1024px) {
      font-size: 15px;
      line-height: 24px;
    }
  }
}
