.send.nav#toSend
  .container.justify-content-space-between
    .row.send__wrapper
      .col-lg.col-sm.col-md.col-xs.col.send__desc
        h2.send__title самые умные проекты
        p.send__text реализуем самые смелые решения в россии!

      .col-lg-2.navbar-toggler.navbar-expand-md.navbar-toggleable-md.justify-content-flex-end.button__send
        button.btn.btn-light.send__button
          img.send__icon(src="/content/icon_send.svg" alt="logo")
          span.send__text ВАШ ЗАПРОС
